# Factorization Machines scoring

The goal of the **recommender system** is to predict user preference for a set of items based on the past experience. Two the most popular approaches are Content-Based and Collaborative Filtering.

The goal of this exercise is to compare SVD and FM algorithms, try different configurations of parameters and explore obtained results.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from surprise import Dataset, Reader
from surprise import SVD, NMF
from surprise.model_selection import cross_validate, train_test_split, GridSearchCV

import functions as f
import river

This analysis will focus on book recommendations based on [Book-Crossing dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). To reduce the dimensionality of the dataset and avoid running into memory error it will focus on users with at least 3 ratings and top 10% most frequently rated books. It consists of 176,594 records.

The recommender systems will be built using [surprise package](https://surprise.readthedocs.io/en/stable/getting_started.html) (Matrix Factorization - based models).

In [2]:
df = pd.read_csv('data/ratings_top.csv')

reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(df[['user_id', 'isbn', 'book_rating']], reader)

In [3]:
print('Number of ratings: %d\nNumber of books: %d\nNumber of users: %d' % (len(df), len(df['isbn'].unique()), len(df['user_id'].unique())))

Number of ratings: 176594
Number of books: 16766
Number of users: 20155

## Using the River package

In [4]:
from river import datasets, stream
r_df = pd.read_csv('data/ratings_top.csv', header=0, names=['user', 'item', 'rating'])
y = r_df.pop('rating')
X_y = stream.iter_pandas(r_df, y)
cache = stream.Cache()

In [5]:
from river import optim, reco, metrics,preprocessing
def readData():
    df = pd.read_csv('data/ratings_top.csv', header=0, names=['user', 'item', 'rating'],nrows=20000)
    
    r_df = df.sample(frac=0.8, random_state=10)
    
    test = df.drop(r_df.index)
    y = r_df.pop('rating')
    y_test = test.pop('rating')
    return stream.iter_pandas(r_df, y), stream.iter_pandas(test, y_test)
books = pd.read_csv('data/books.csv')
books.head(5)
print(books.describe(include='all'))
users = pd.read_csv('data/users.csv')
users

              isbn      book_title      book_author  year_of_publication  \
count       271379          271379           271378        271379.000000
unique      271379          242154           102027                  NaN
top     0195153448  Selected Poems  Agatha Christie                  NaN
freq             1              27              632                  NaN
mean           NaN             NaN              NaN          1959.756050
std            NaN             NaN              NaN           258.011363
min            NaN             NaN              NaN             0.000000
25%            NaN             NaN              NaN          1989.000000
50%            NaN             NaN              NaN          1995.000000
75%            NaN             NaN              NaN          2000.000000
max            NaN             NaN              NaN          2050.000000

        publisher
count      271377
unique      16806
top     Harlequin
freq         7536
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

        user_id                            location   age         country
0             1                  nyc, new york, usa   NaN             Usa
1             2           stockton, california, usa  18.0             Usa
2             3     moscow, yukon territory, russia   NaN          Russia
3             4           porto, v.n.gaia, portugal  17.0        Portugal
4             5  farnborough, hants, united kingdom   NaN  United Kingdom
...         ...                                 ...   ...             ...
278853   278854               portland, oregon, usa   NaN             Usa
278854   278855  tacoma, washington, united kingdom  50.0  United Kingdom
278855   278856           brampton, ontario, canada   NaN          Canada
278856   278857           knoxville, tennessee, usa   NaN             Usa
278857   278858                dublin, n/a, ireland   NaN         Ireland

[278858 rows x 4 columns]

In [6]:
biased_mf_params = {
    'n_factors': 10,
    'bias_optimizer': optim.SGD(0.025),
    'latent_optimizer': optim.SGD(0.05),
    'weight_initializer': optim.initializers.Zeros(),
    'latent_initializer': optim.initializers.Normal(mu=0., sigma=0.1, seed=73),
    'l2_bias': 0.,
    'l2_latent': 0.
}

model = reco.BiasedMF(**biased_mf_params)

metric = metrics.MAE() + metrics.RMSE()
X_y, z = readData()
cnt = 0
for x, y in X_y:
    y_pred = model.predict_one(user=x['user'], item=x['item'])
    
    metric.update(y_pred=y_pred, y_true=y)
    _ = model.learn_one(**x, x=x, y=y)
    cnt+= 1 
print(metric)

MAE: 1.353959, RMSE: 1.73113

In [8]:
from river import compose, facto
fwfm_params = {
    'n_factors': 10,
    'weight_optimizer': optim.SGD(0.01),
    'latent_optimizer': optim.SGD(0.025),
    'intercept': 3,
    'seed': 73,
}
hofm_params = {
    'degree': 3,
    'n_factors': 12,
    'weight_optimizer': optim.SGD(0.01),
    'latent_optimizer': optim.SGD(0.025),
    'intercept': 3,
    'latent_initializer': optim.initializers.Normal(mu=0., sigma=0.05, seed=73),
}
ffm_params = {
    'n_factors': 8,
    'weight_optimizer': optim.SGD(0.01),
    'latent_optimizer': optim.SGD(0.025),
    'intercept': 3,
    'latent_initializer': optim.initializers.Normal(mu=0., sigma=0.05, seed=73),
}

def split_publish(x):
    if x['year_of_publication'] <= 1990:
        return {'publication_1990' : 1}
    elif x['year_of_publication'] <= 1995:
        return {'publication_1995' : 1}
    elif x['year_of_publication'] <= 2000:
        return {'publication_2000' : 1}
    else: return {'publication_new' : 1}
def bin_ages(x):
    if pd.isnull(x['age']):
        return {'age_isna': 1}
    elif x['age'] <= 18:
        return {'age_0-18': 1}
    elif x['age'] <= 32:
        return {'age_19-32': 1}
    elif x['age'] < 55:
        return {'age_33-54': 1}
    else:
        return {'age_55-100': 1}

regressor = compose.Select('user') | compose.FuncTransformer(lambda x: {'user': str(x)})
regressor += (
    compose.Select('item')
)
regressor |= facto.FwFMRegressor(**fwfm_params)

model = preprocessing.PredClipper(
    regressor=regressor,
    y_min=1,
    y_max=10
)


metric = metrics.MAE() + metrics.RMSE()
X_y, X_y_test = readData()
cnt = 0
for x, y in X_y:
    user = users.loc[users['user_id'] == x['user']]
    book = books.loc[books['isbn'] == x['item']]
    
    if user.empty or book.empty:
        continue
    # Retrieve single values using .at or .iat
    user_age = users.at[user.index[0], 'age']
    book_year = books.at[book.index[0],'year_of_publication']

    x['age'] = user_age
    x['year_of_publication'] = book_year
    x['country'] = users.at[user.index[0], 'country']
    # y_pred = model.predict_one(user=x['user'], item=x['item'], age=user_age, year_of_publication= book_year)

    y_pred = model.predict_one(x=x)
    _ = model.learn_one(x=x, y=y)
    
    metric.update(y_pred=y_pred, y_true=y) 
    if cnt % 100 == 0:
        print(cnt, metric)
    cnt += 1
print(metric)
metric = metrics.MAE() + metrics.RMSE()
for x,y in X_y_test:
    user = users.loc[users['user_id'] == x['user']]
    book = books.loc[books['isbn'] == x['item']]
    
    if user.empty or book.empty:
        continue
    # Retrieve single values using .at or .iat
    user_age = users.at[user.index[0], 'age']
    book_year = books.at[book.index[0],'year_of_publication']

    x['age'] = user_age
    x['year_of_publication'] = book_year
    x['country'] = users.at[user.index[0], 'country']
    # y_pred = model.predict_one(user=x['user'], item=x['item'], age=user_age, year_of_publication= book_year)

    y_pred = model.predict_one(x=x)
    _ = model.learn_one(x=x, y=y)
    
    metric.update(y_pred=y_pred, y_true=y) 
    if cnt % 100 == 0:
        print(cnt, metric)
    cnt += 1
print(metric)

0 MAE: 7.019074, RMSE: 7.019074
100 MAE: 2.322432, RMSE: 2.813332
200 MAE: 1.865252, RMSE: 2.329316
300 MAE: 1.743964, RMSE: 2.170838
400 MAE: 1.651162, RMSE: 2.044683
500 MAE: 1.587331, RMSE: 1.998043
600 MAE: 1.544076, RMSE: 1.951294
700 MAE: 1.510805, RMSE: 1.922031
800 MAE: 1.491343, RMSE: 1.887875
900 MAE: 1.47202, RMSE: 1.868211
1000 MAE: 1.471308, RMSE: 1.864726
1100 MAE: 1.464081, RMSE: 1.850943
1200 MAE: 1.465554, RMSE: 1.840771
1300 MAE: 1.456654, RMSE: 1.825988
1400 MAE: 1.443485, RMSE: 1.819782
1500 MAE: 1.453949, RMSE: 1.830937
1600 MAE: 1.465473, RMSE: 1.842417
1700 MAE: 1.454585, RMSE: 1.831601
1800 MAE: 1.457244, RMSE: 1.83371
1900 MAE: 1.454484, RMSE: 1.830342
2000 MAE: 1.44307, RMSE: 1.816977
2100 MAE: 1.434866, RMSE: 1.810011
2200 MAE: 1.433056, RMSE: 1.808788
2300 MAE: 1.435019, RMSE: 1.808753
2400 MAE: 1.434857, RMSE: 1.812227
2500 MAE: 1.433437, RMSE: 1.809254
2600 MAE: 1.432461, RMSE: 1.806329
2700 MAE: 1.429058, RMSE: 1.801649
2800 MAE: 1.421238, RMSE: 1.796065
2900 MAE: 1.417217, RMSE: 1.790269
3000 MAE: 1.414516, RMSE: 1.785493
3100 MAE: 1.416187, RMSE: 1.788626
3200 MAE: 1.413388, RMSE: 1.78543
3300 MAE: 1.418097, RMSE: 1.789798
3400 MAE: 1.418114, RMSE: 1.78815
3500 MAE: 1.410844, RMSE: 1.782276
3600 MAE: 1.412787, RMSE: 1.785809
3700 MAE: 1.412135, RMSE: 1.785505
3800 MAE: 1.413854, RMSE: 1.78668
3900 MAE: 1.416375, RMSE: 1.787533
4000 MAE: 1.416692, RMSE: 1.786229
4100 MAE: 1.415788, RMSE: 1.788594
4200 MAE: 1.412384, RMSE: 1.785488
4300 MAE: 1.407007, RMSE: 1.779745
4400 MAE: 1.40419, RMSE: 1.778639
4500 MAE: 1.407757, RMSE: 1.781916
4600 MAE: 1.408301, RMSE: 1.782469
4700 MAE: 1.414335, RMSE: 1.792008
4800 MAE: 1.415569, RMSE: 1.793467
4900 MAE: 1.415632, RMSE: 1.79126
5000 MAE: 1.41779, RMSE: 1.795222
5100 MAE: 1.415815, RMSE: 1.79233
5200 MAE: 1.411467, RMSE: 1.786803
5300 MAE: 1.407389, RMSE: 1.782727
5400 MAE: 1.408062, RMSE: 1.783186
5500 MAE: 1.405788, RMSE: 1.779683
5600 MAE: 1.408971, RMSE: 1.784157
5700 MAE: 1.408498, RMSE: 1.783483
5800 MAE: 1.411768, RMSE: 1.787185
5900 MAE: 1.409984, RMSE: 1.784623
6000 MAE: 1.411409, RMSE: 1.786839
6100 MAE: 1.409233, RMSE: 1.78395
6200 MAE: 1.408474, RMSE: 1.784828
6300 MAE: 1.406722, RMSE: 1.783577
6400 MAE: 1.408529, RMSE: 1.788217
6500 MAE: 1.407389, RMSE: 1.788516
6600 MAE: 1.407185, RMSE: 1.789062
6700 MAE: 1.405948, RMSE: 1.788874
6800 MAE: 1.407233, RMSE: 1.789706
6900 MAE: 1.406689, RMSE: 1.790081
7000 MAE: 1.405404, RMSE: 1.788086
7100 MAE: 1.401272, RMSE: 1.784082
7200 MAE: 1.401056, RMSE: 1.784192
7300 MAE: 1.401976, RMSE: 1.785623
7400 MAE: 1.402441, RMSE: 1.787566
7500 MAE: 1.405656, RMSE: 1.791442
7600 MAE: 1.403451, RMSE: 1.788054
7700 MAE: 1.401527, RMSE: 1.785197
7800 MAE: 1.400342, RMSE: 1.784096
7900 MAE: 1.401407, RMSE: 1.784431
8000 MAE: 1.40491, RMSE: 1.788989
8100 MAE: 1.406304, RMSE: 1.789945
8200 MAE: 1.405376, RMSE: 1.788722
8300 MAE: 1.406674, RMSE: 1.790147
8400 MAE: 1.408812, RMSE: 1.791575
8500 MAE: 1.407243, RMSE: 1.78979
8600 MAE: 1.408435, RMSE: 1.79059
8700 MAE: 1.407616, RMSE: 1.788772
8800 MAE: 1.406057, RMSE: 1.786369
8900 MAE: 1.404036, RMSE: 1.783632
9000 MAE: 1.40509, RMSE: 1.785711
9100 MAE: 1.405779, RMSE: 1.786579
9200 MAE: 1.404833, RMSE: 1.785
9300 MAE: 1.406154, RMSE: 1.786768
9400 MAE: 1.408707, RMSE: 1.790067
9500 MAE: 1.408787, RMSE: 1.789867
9600 MAE: 1.405707, RMSE: 1.78701
9700 MAE: 1.404892, RMSE: 1.78529
9800 MAE: 1.405547, RMSE: 1.785816
9900 MAE: 1.40605, RMSE: 1.78573
10000 MAE: 1.407138, RMSE: 1.78665
10100 MAE: 1.408609, RMSE: 1.78829
10200 MAE: 1.407632, RMSE: 1.787658
10300 MAE: 1.408021, RMSE: 1.787639
10400 MAE: 1.407619, RMSE: 1.786756
10500 MAE: 1.408736, RMSE: 1.788258
10600 MAE: 1.407703, RMSE: 1.787165
10700 MAE: 1.407367, RMSE: 1.786137
10800 MAE: 1.405995, RMSE: 1.784247
10900 MAE: 1.404746, RMSE: 1.783728
11000 MAE: 1.404591, RMSE: 1.783056
11100 MAE: 1.403759, RMSE: 1.782292
11200 MAE: 1.403287, RMSE: 1.782217
11300 MAE: 1.4029, RMSE: 1.781917
11400 MAE: 1.402522, RMSE: 1.78178
11500 MAE: 1.402745, RMSE: 1.78178
11600 MAE: 1.402533, RMSE: 1.782693
11700 MAE: 1.40129, RMSE: 1.781631
11800 MAE: 1.401903, RMSE: 1.78226
11900 MAE: 1.401089, RMSE: 1.780373
12000 MAE: 1.401301, RMSE: 1.780986
12100 MAE: 1.401884, RMSE: 1.781496
12200 MAE: 1.402436, RMSE: 1.78206
12300 MAE: 1.402037, RMSE: 1.781047
12400 MAE: 1.39979, RMSE: 1.777876
12500 MAE: 1.400733, RMSE: 1.778513
12600 MAE: 1.400522, RMSE: 1.778124
12700 MAE: 1.399577, RMSE: 1.776718
12800 MAE: 1.400222, RMSE: 1.77785
12900 MAE: 1.400335, RMSE: 1.777268
13000 MAE: 1.399739, RMSE: 1.776539
13100 MAE: 1.398855, RMSE: 1.775305
13200 MAE: 1.398487, RMSE: 1.775658
13300 MAE: 1.397989, RMSE: 1.774511
13400 MAE: 1.397238, RMSE: 1.772831
13500 MAE: 1.397888, RMSE: 1.774016
13600 MAE: 1.398469, RMSE: 1.774414
13700 MAE: 1.399773, RMSE: 1.776007
13800 MAE: 1.40009, RMSE: 1.776012
13900 MAE: 1.398617, RMSE: 1.774471
14000 MAE: 1.397797, RMSE: 1.77315
14100 MAE: 1.397625, RMSE: 1.773154
14200 MAE: 1.396646, RMSE: 1.772087
14300 MAE: 1.395594, RMSE: 1.771264
14400 MAE: 1.396308, RMSE: 1.771914
14500 MAE: 1.396194, RMSE: 1.771191
14600 MAE: 1.396504, RMSE: 1.77152
14700 MAE: 1.397984, RMSE: 1.773042
14800 MAE: 1.398816, RMSE: 1.774563
14900 MAE: 1.39976, RMSE: 1.775857
15000 MAE: 1.400859, RMSE: 1.776703
15100 MAE: 1.400475, RMSE: 1.776227
15200 MAE: 1.40075, RMSE: 1.775978
15300 MAE: 1.400725, RMSE: 1.77595
MAE: 1.400396, RMSE: 1.775162
15400 MAE: 1.495213, RMSE: 1.804751
15500 MAE: 1.520147, RMSE: 1.892276
15600 MAE: 1.406054, RMSE: 1.777241
15700 MAE: 1.342263, RMSE: 1.705676
15800 MAE: 1.349363, RMSE: 1.740698
15900 MAE: 1.341933, RMSE: 1.713862
16000 MAE: 1.328788, RMSE: 1.707789
16100 MAE: 1.330652, RMSE: 1.698256
16200 MAE: 1.341881, RMSE: 1.726971
16300 MAE: 1.332156, RMSE: 1.718596
16400 MAE: 1.307949, RMSE: 1.689338
16500 MAE: 1.290817, RMSE: 1.667718
16600 MAE: 1.290355, RMSE: 1.65654
16700 MAE: 1.293646, RMSE: 1.659942
16800 MAE: 1.29652, RMSE: 1.658596
16900 MAE: 1.315342, RMSE: 1.681908
17000 MAE: 1.326291, RMSE: 1.693814
17100 MAE: 1.331146, RMSE: 1.697896
17200 MAE: 1.339784, RMSE: 1.709181
17300 MAE: 1.346292, RMSE: 1.718735
17400 MAE: 1.368436, RMSE: 1.74811
17500 MAE: 1.375669, RMSE: 1.76715
17600 MAE: 1.3726, RMSE: 1.758905
17700 MAE: 1.372199, RMSE: 1.760266
17800 MAE: 1.380226, RMSE: 1.772098
17900 MAE: 1.383313, RMSE: 1.775618
18000 MAE: 1.382155, RMSE: 1.772545
18100 MAE: 1.377792, RMSE: 1.762854
18200 MAE: 1.382776, RMSE: 1.772478
18300 MAE: 1.378344, RMSE: 1.764685
18400 MAE: 1.379731, RMSE: 1.768481
18500 MAE: 1.372117, RMSE: 1.758812
18600 MAE: 1.368219, RMSE: 1.754176
18700 MAE: 1.362897, RMSE: 1.747813
18800 MAE: 1.362509, RMSE: 1.749996
18900 MAE: 1.360478, RMSE: 1.745577
19000 MAE: 1.35701, RMSE: 1.739802
19100 MAE: 1.354473, RMSE: 1.737984
19200 MAE: 1.357961, RMSE: 1.738383
MAE: 1.358046, RMSE: 1.737626

## SVD and NMF models comparison

Singular Value Decomposition (SVD) and Non-negative Matrix Factorization (NMF) are matrix factorization techniques used for dimensionality reduction. Surprise package provides implementation of those algorithms.

It's clear that for the given dataset much better results can be obtained with SVD approach - both in terms of accuracy and training / testing time.

In [79]:
model_svd = SVD()
cv_results_svd = cross_validate(model_svd, data, cv=3)
pd.DataFrame(cv_results_svd).mean()

test_rmse    1.603640
test_mae     1.240969
fit_time     1.578933
test_time    0.464496
dtype: float64

In [13]:
model_nmf = NMF()
cv_results_nmf = cross_validate(model_nmf, data, cv=3)
pd.DataFrame(cv_results_nmf).mean()

test_rmse    2.625657
test_mae     2.242587
fit_time     4.788131
test_time    0.451066
dtype: float64

## Optimisation of SVD algorithm

Grid Search Cross Validation computes accuracy metrics for an algorithm on various combinations of parameters, over a cross-validation procedure. It's useful for finding the best configuration of parameters.

It is used to find the best setting of parameters:
* n_factors - the number of factors
* n_epochs - the number of iteration of the SGD procedure
* lr_all - the learning rate for all parameters
* reg_all - the regularization term for all parameters

As a result, regarding the majority of parameters, the default setting is the most optimal one. The improvement obtained with Grid Search is very small.